
h1{
color: white;
}

a{
color: white;
}

h2{
color: #68ade8;
}

body{

  
}

header{
  background-image: url(https://www.bing.com/th?id=OIP.OUxvuadCTbc5K9PQOQrNzgHaCd&w=298&h=100&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
  border-top: 2px solid;
  border-bottom: 3px solid;
  border-color:#68ade8;
  color: white;
}

hr{
border-color: gray;
}

footer{
  background-image: url(https://www.bing.com/th?id=OIP.OUxvuadCTbc5K9PQOQrNzgHaCd&w=298&h=100&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
color:white;
border-top: 2px solid;
border-bottom: 2px solid;
border-color:#68ade8;
}

.container{
  margin:20px;
  border:1px solid black;
  padding: 20px;
}

@media (max-width: 600px) {  
  .container p{
    column-count:2;
    background-color:orange;
  }

  h1{
    font-size: 18px;
  }
}

@media (min-width: 800px) {
  .container p{
    column-count:3;
    border:20px dotted black;
  }
}

.team-text{
text-align:center;
  
}

.card{
max-width: 40%;
height: auto;
}

.image-name{
text-align:center;
}